<div class="container-fluid" ng-controller="mc">
	<div class="row clearfix">
		<div class="col-md-12 column">
		<hr/>
			<div class="row clearfix">
				<div class="col-md-4 column">

					<div class="list-group">
						 <a href="#" class="list-group-item active">Hello World<span class="badge">10 points</span></a>
						 <a href="#" class="list-group-item ">Arithmetic Operators<span class="badge">15 points</span></a>
						 <a href="#" class="list-group-item ">Reading User Input<span class="badge">25 points</span></a>
						 <a class="list-group-item"><span class="badge">50 points</span>File</a>
						 <a class="list-group-item"><span class="badge">100 points</span><span class="glyphicon glyphicon-briefcase"></span> Registration Form
						 </a>
					</div>
					<ul class="nav nav-pills">
						<li class="active">
							 <a href="#"> <span class="badge pull-right">42</span> Your Score</a>
						</li>
						<li>
							 <a href="#"> <span class="badge pull-right">8</span> More to Unlock</a>
						</li>
					</ul>
				</div>
				<div class="col-md-8 column">
					<div class="row clearfix">
						<div class="col-md-8 column">
							<div class="progress">
								<div class="progress-bar progress-success">
								</div>
							</div>
						</div>
						<div class="col-md-4 column">
							<div class="btn-group">
								 <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-floppy-disk"></em> Save</button> <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-ok-circle"></em> Check</button> <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-flash"></em> Run</button> <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-share"></em> Share</button>
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-12 column">
											<nav class="navbar navbar-default" role="navigation">

				
					   <div ui-codemirror="{
      lineNumbers: true,
      theme:'twilight',
      lineWrapping : true,
      mode: 'xml'
    }" ng-model='code'>
    
    
    </div>
				
				
				
				
			</nav>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-12 column">
						</div>
					</div>
				</div>
			</div>
			<div class="jumbotron">
				<h1>
					Hello, world!
				</h1>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<ol>
				<li>
					Lorem ipsum dolor sit amet
				</li>
				<li>
					Consectetur adipiscing elit
				</li>
				<li>
					Integer molestie lorem at massa
				</li>
				<li>
					Facilisis in pretium nisl aliquet
				</li>
				<li>
					Nulla volutpat aliquam velit
				</li>
				<li>
					Faucibus porta lacus fringilla vel
				</li>
				<li>
					Aenean sit amet erat nunc
				</li>
				<li>
					Eget porttitor lorem
				</li>
			</ol>
		</div>
		<div class="col-md-4 column">
			<ol>
				<li>
					Lorem ipsum dolor sit amet
				</li>
				<li>
					Consectetur adipiscing elit
				</li>
				<li>
					Integer molestie lorem at massa
				</li>
				<li>
					Facilisis in pretium nisl aliquet
				</li>
				<li>
					Nulla volutpat aliquam velit
				</li>
				<li>
					Faucibus porta lacus fringilla vel
				</li>
				<li>
					Aenean sit amet erat nunc
				</li>
				<li>
					Eget porttitor lorem
				</li>
			</ol>
		</div>
		<div class="col-md-4 column">
			<ol>
				<li>
					Lorem ipsum dolor sit amet
				</li>
				<li>
					Consectetur adipiscing elit
				</li>
				<li>
					Integer molestie lorem at massa
				</li>
				<li>
					Facilisis in pretium nisl aliquet
				</li>
				<li>
					Nulla volutpat aliquam velit
				</li>
				<li>
					Faucibus porta lacus fringilla vel
				</li>
				<li>
					Aenean sit amet erat nunc
				</li>
				<li>
					Eget porttitor lorem
				</li>
			</ol>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
		</div>
	</div>
</div>