
     
     <div class="navbar navbar-fixed">
      <div class="navbar-inner"><div class="container">

        <a class="brand" ui-sref="home" href="#/">Explore</a>
        <ul class="nav">
          <li ui-sref-active="active" class=""><a ui-sref="contacts.list" href="#/sanitaryware">Sanitaryware</a></li>
          <li ui-sref-active="active" class=""><a ui-sref="contacts.list" href="#/hardware">Hardware</a></li>
          <li ui-sref-active="active" class=""><a ui-sref="about" href="#/tiles">Tiles</a></li>
          <li ui-sref-active="active" class=""><a ui-sref="about" href="#/lights">Lights</a></li>
          <li ui-sref-active="active" class=""><a ui-sref="about" href="#/painting">Painting</a></li>
        </ul>
      </div></div>
    </div>

